.notification {
    height: 60px;
    width: 100%;
    background: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.notification-messages {
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    font-size: 0.8rem;
}