.program-container {
  background: rgb(247, 247, 247);
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }

  .programs {
    height: 70%;
    width: 90%;
    display: flex;
    justify-content: center;

    .program {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 350;
    }
  }
}

@media screen and (max-width: 960px) {
  .program-container {
    height: 150vh;
    
  }

  .card-media {
    height: 150;
  }

  .program {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
