.program-container {
  background: rgb(247, 247, 247);
  width: 100%;
  height: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;

  h1 {
    text-align: center;
  }

  .programs {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    .program {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 767px) {
.program{
  margin-bottom: 35px;
}
}
