.page-outer {
    // background: rgb(247, 247, 247);
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15% 5% 15% 5%;
  
    .form-inner {
      width: 90%;
      margin-top: 5%;
    }}