* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Mali', cursive;
    font-weight: 600;
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
    p {
        font-size: 1.1em;
    }
}